.main {
  height: 500px;
  background-color: #1c191734;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #27272a;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid #f8f8f82a;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 1rem;
}
#chk {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  color: #fff;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-size: 1.2rem;
}

.login {
  height: 460px;
  background: #ffffff00;
  transform: translateY(-100px);
  transition: 0.8s ease-in-out;
  padding-top: 0.5rem;
  padding: 1rem;
  label {
    margin: 40px 60px;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 0.2rem;
    border-radius: 0.3rem;
    h1 {
      color: white;
      margin: 0;
    }
  }
}
.login label {
  transform: scale(0.8);
}

#chk:checked ~ .login {
  transform: translateY(-400px);
  border-radius: 2%;
  background: #ffffff;
}
#chk:checked ~ .login label {
  transform: scale(1);
  margin: 60px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0.2rem;
  border-radius: 0.3rem;
  h1 {
    color: black;
    margin: 0;
  }
}
.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#63a761, #366b05);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #8090a3, #132664);
  right: -30px;
  bottom: -80px;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.123);
  border-radius: 3px;
  padding: 0 10px;
  border: 0;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  color: black;
}
h2 {
  font-family: monospace;
  text-align: right;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Lucida Sans",
    "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}
h2 {
  align-items: baseline;
  font-size: 24px;
  line-height: 50px;
  margin-top: 40%;
  margin-right: 30%;
}

.in {
  .btn {
    width: 100%;
  }
}
