<div class="row">
    <div class="col-6">
        <div class="content">
            <input type="checkbox" id="btn">
            <label for="btn">
              <span class="thumb"></span>
            </label>
            <div class="light"></div>
          </div>
    </div>
    <div class="col-6 left-side">
        <div class="conso row">
            <!-- enter periode -->
        </div>
        <div class="details row">
            <div class="item">
                Intensité
            </div>
            <div class="item">
                Consomation
            </div>
            <div class="item">
                tension
            </div>
            <div class="item">
                total kwh
            </div>
        </div>

    </div>
</div>